# .github/workflows/test.yml
name: Python Tests and Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Uygulama ve Test bağımlılıklarını yükle
        pip install -r requirements.txt
    - name: Run tests with pytest
      run: |
       # Kök dizinden çalıştırıldığından emin olun
        pytest
